# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
dist/

# Tmp
tmp/

# Exclude binary
go-count

# Include src folde which is excluded by previous statement
!cmd/go-count

# Exclude coverage files
coverage.out
coverage.lcov

# Terraform
.terraform
*.tfstate*
