name: Build
on:
  - push
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch:
          - amd64
        os:
          - linux
          - darwin
          - windows
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-go@v2.1.3
      - run: GOOS=${{ matrix.os }} GOARCH=${{ matrix.arch }} go build ./cmd/go-count
